@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

/* Custom Components */
@layer components {
  .center-page {
    @apply min-h-screen w-full flex justify-center items-center px-4;
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Theme */
@layer base {
  :root {
    --background: 0 0% 100%;      /* light bg */
    --foreground: 215 25% 27%;    /* light text */
  }

  .dark {
    --background: 222.2 84% 4.9%; /* dark bg */
    --foreground: 210 40% 98%;    /* dark text */
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-family: 'Poppins', Arial, sans-serif;
  }
}
